body {
    font-family: sans-serif;
}

#container {
    display: inline-block;
    margin: auto;
}

select {
    display: block;
}

.backup-config-container {
    width: 100%;
    margin: 10px;
    padding: 5px;
    position: relative;
    background: lightseagreen;
}

.stoped {
    background: coral;
}
.gray {
    background: gray;
}
.orange {
    background: orange;
}

.del {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
}

#debug {
    display: none;
}

#errors {
    color: red
}

.hidden {
    display: none;
}

#overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(40,40,40,0.75);
}

#overlayBox {
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
    width: 200px;
    height: 250px;
}

#overlayBox input {
    margin: 10 0;
    width: 100%;
}

#okBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 0 20;
    background: chartreuse;
    cursor: pointer;
}
#cancelBtn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0 20;
    background: coral;
    cursor: pointer;
}