body {
    width: 100vw;
    height: min(900px,max(90vw,90vh));
    margin-top: -50px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    background-color: #191919;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    overflow-y: scroll;
}

u {
    text-decoration-color: #B8BE14;
    text-decoration-thickness: 3px;
}
#container {
    position: relative;
    width: 90%;
    height: 90%; 
    max-width: 650px;
    margin: auto;
}    

.dot {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    padding: 0;
    background-color: #645D21;
    border-radius: 50%;
}

.dot.aws {
    background-color: grey;
}

.floating {
    position: absolute;
}

.canada {
    top: 20%;
    left: 10%;
}
.awsVA {
    top: 31.333%;
    left: 25%;
}

.awsfran {
    top: 50%;
    left: 50%;
}

.germany {
    top: 20%;
    left: 80%;
}
.france {
    top: 70%;
    left: 80%;
}
.switzerland {
    top: 55%;
    right: 50px;
}

.line {
    stroke:#645D21;
}
.l0 {
    z-index: -1;
    position: absolute;
    bottom: 30%;
    right: 20%;
    top: 50%;
    left: 50%;
}
.l1 {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 10%;
    bottom: 50%;
    right: 50%;
}
.l2 {
    z-index: -1;
    position: absolute;
    top: 50%;
    right: 50px;
    bottom: 45%;
    left: 50%;
}
.l3 {
    z-index: -1;
    position: absolute;
    bottom: 50%;
    left: 50%;
    top: 20%;
    right: 20%;
}

.delay {
    position: absolute;
    bottom: -25px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    color: #645D21;
}
.errors {
    position: absolute;
    bottom: -50px;
    width: 80px;
    height: 20px;
    color: #645D21;
    font-size: 10pt;
}
.red {
    color: red;
}
.name {
    position: absolute;
    color: white;
    width: 150px;
    text-align: center;
    right:-75px;
    top:-30px;
}

#name-1 {
    width: 350px;
    right: -175px;
}

#name-0 {
    right: -100px;
    top:-25px;
}

#name-aws {
    right: 5px;
    top: -10px;
}

.vumeter {
    position: absolute;
    height: 50px;
    width: 10px;
    background-color: white;
}

.right {
    left: -15px;
}

.left {
    left: -30px;
}

.slider {
    position: absolute;
    width: 100%;
    background-color: #B8BE14;
    bottom: 0;
}

.hidden {
    display: none;
}

#player {
    position: absolute;
    top: 60px;
    width: 100%;
    font-size: min(3vw,1em);
    text-align: center;
}

#playbtn {
    margin: auto;
}

#infos {
    margin: auto;
    width: 60%;
}

.green {
    color: #B8BE14;

    stroke:#B8BE14;
}

#text {
    position: absolute;
    width: 50%;
    left:5%;
    max-height: 30%;
    bottom:max(5%,min(20vw,15%));
    font-size: 11pt;
    text-align: justify;
    overflow: hidden;
}

#footer {
    position: absolute;
    bottom: 0;
    font-size: min(5pt,min(1vh,1vw));
    font-weight: 100;
    width: 100%;
    text-align: center;
}

#logos {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

img {
    width: 25%;
}