body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    color: white;
    font-weight: bold;
    background-color: #191919;
}

#container {
    position: relative;
    width: 90%;
    height: 90%; 
}    

.dot {
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    padding: 0;
    background-color: hotpink;
    border-radius: 50%;
}

.dot.aws {
    background-color: grey;
}

.floating {
    position: absolute;
}

.canada {
    top: 20%;
    left: 10%;
}

.awsfran {
    top: 50%;
    left: 50%;
}

.germany {
    top: 20%;
    left: 80%;
}
.france {
    top: 70%;
    left: 80%;
}
.switzerland {
    top: 55%;
    right: 50px;
}

.line {
    stroke:hotpink;
}
.l0 {
    z-index: -1;
    position: absolute;
    bottom: 30%;
    right: 20%;
    top: 50%;
    left: 50%;
}
.l1 {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 10%;
    bottom: 50%;
    right: 50%;
}
.l2 {
    z-index: -1;
    position: absolute;
    top: 50%;
    right: 50px;
    bottom: 45%;
    left: 50%;
}
.l3 {
    z-index: -1;
    position: absolute;
    bottom: 50%;
    left: 50%;
    top: 20%;
    right: 20%;
}

.delay {
    position: absolute;
    bottom: -25px;
    width: 60px;
    height: 20px;
    text-align: left;
    background-color: white;
    color: black;
}
.errors {
    position: absolute;
    bottom: -50px;
    width: 60px;
    height: 20px;
    color: green;
}
.red {
    color: red;
}
.name {
    position: absolute;
    color: white;
    width: 150px;
    text-align: center;
    background-color: rgba(19, 19, 19, 0.2);
    right:-75px;
    top:-30px;
}

.vumeter {
    position: absolute;
    height: 50px;
    width: 10px;
    background-color: white;
}

.right {
    left: -15px;
}

.left {
    left: -30px;
}

.slider {
    position: absolute;
    width: 100%;
    background-color: green;
    bottom: 0;
}

.hidden {
    display: none;
}

#player {
    position: absolute;
    width: 100%;
    text-align: center;
}

#playbtn {
    margin: auto;
}

#infos {
    margin: auto;
    width: 60%;
}

.green {
    color: green;

    stroke:green;
}

#text {
    position: absolute;
    width: 40%;
    left:10%;
    top:55%;
    font-size: 11pt;
    text-align: justify;
}

#footer {
    font-size: 10pt;
    padding-top: 40px;
}